<!DOCTYPE html>
<!--

           __                    __
          / /___ _________  ____/ /
     __  / / __ `/ ___/ _ \/ __  /
    / /_/ / /_/ / /  /  __/ /_/ /
    \____/____,_/_/  _____/\__,_/
       / __ \____ _/ /___ ___  ___  _____
      / /_/ / __ `/ / __ `__ \/ _ \/ ___/
     / ____/ /_/ / / / / / / /  __/ /
    /_/    \__,_/_/_/ /_/ /_/\___/_/

                            Established in 1991.
                            Cornell '13.

-->

<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{page.description}}">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white-transluscent">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ page.title }} | Jared Palmer">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.name}}{{page.url}}">
    <meta property="og:image" content="{{site.name}}{{page.image}}">
    <meta property="og:site_name" content="Jared Palmer">
    <meta property="og:description" content="{{page.description}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jaredpalmer">
    <meta name="twitter:creator" content="@jaredpalmer">
    <meta name="twitter:title" content="{{ page.title }} | Jared Palmer">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:image:src" content="{{site.name}}{{page.image}}">

    <link rel="apple-touch-icon" sizes="57x57" href="img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/icons/favicon-16x16.png">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="//use.typekit.net/xfr8kut.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <!-- build:css({app,.tmp}) /css/main.css -->
     <link rel="stylesheet" href="/_bower_components/photoswipe/dist/photoswipe.css">
     <link rel="stylesheet" href="/_bower_components/photoswipe/dist/default-skin/default-skin.css">
     <link rel="stylesheet" href="/css/style.css">
    <!-- endbuild -->


    <!-- build:js({app,.tmp}) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
    {% assign n = page.navClass %}
    {% include navbar.html navClass=n %}
    <main id="content">
          {{ content }}

    </main>
    {% include footer.html %}
    {% include scripts.html %}
    {% include googleanalytics.html %}
  </body>
</html>
