---
layout: default
---
<article class="post">
  <header>
    <h1>{{page.title}}</h1>
    <p>{{ page.date | date: "%-d %B %Y" }}</p>
  </header>
  <section class="post-body">
  {% if page.video != "" %}
  <div id="video" class="youtube" data-src="{{page.video}}">
    <img class="placeholder" src="{{page.image}}" alt="{{page.title}}" >
    <div class="video-icon"></div>
  </div>
  {% else %}
  <div class="post-img">
      <img class="banner" src="{{page.image}}" alt="{{page.title}}" >
  </div>
  {% endif %}
  {{ content }}
  </section>
</article>

{% include footer.html %}
