---
layout: default
---
<article class="post container">

  {% if page.video != "" %}

  <div id="video" class="youtube" data-src="{{page.video}}">
    <img class="placeholder" src="{{page.image}}" alt="{{page.title}}" >
    <div class="video-icon"></div>
  </div>
  {% else %}
  <img class="" src="{{page.image}}" alt="{{page.title}}" >
  {% endif %}

<p class="meta meta--post">{{ page.date | date: "%-d %B %Y" }}</p>
<h1 class="post-title">{{page.title}}</h1>
<div class="post-content">
  {{ content }}
</div>
</article>

{% include footer.html %}
