.cv {
  max-width: 600px;
  padding: 0 1rem;
  margin: 3rem auto;

  .muted {
    color: #b7b7b7;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  ul,
  p,
  pre {
    margin-bottom: 5px;
  }
  h3 {
    font-size: 22px;
    font-weight: 400;
  }
  h4 {
    font-size: 18px;
    font-weight: 400;
    color: #555;
  }
  p {
    font-size: 16px;
  }
 li {
   font-size: 16px;
   margin-bottom: 2px;
 }
 h1 {
   margin-bottom: 3rem;
   color: #111;
   font-weight: 300;
   text-align: center;
 }
 h2 {
   margin-bottom: 1.5rem;
 }
 &-section {
   margin-bottom: 4rem;
 }
 &-item {
   margin-bottom: 2rem;
 }
 &-meta {
   font-size: 16px;
   color: #b7b7b7;
   margin-bottom: 5px;
 }
}
