.contact {
  width: 100%;
  height: 100px;
  line-height: 99px;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}

footer{
  text-align:center;
  p{
    font-size: .75rem;
    color: #b7b7b7
  }
}
