.navbar {
  @include clearfix;
  border-bottom: 1px solid $colorGray--lightest;
}

.navbar-twitter {
  border-bottom: 0;
  color: $colorGray--dark;
  display: block;
  float: left;
  font-family: $sans;
  font-size: 1rem;
  font-weight:400;
  height: rem-calc(50);
  line-height: rem-calc(49);
  margin-left: 1rem;
}

.navbar-menu {
  @include reset-box;
  float: right;
  list-style: none;
  text-align: right;
  transition: all .4s ease-in-out;

  li {
    display: inline;
    height: rem-calc(50);
    line-height: rem-calc(49);
    margin-right: 1rem;

    a {
      border-bottom: 0;
      color: $colorGray--light;
      font-family: $sans;
      font-size: 1rem;
      font-weight: 400;
      text-decoration: none;
    }
  }
}
