/* General photoset style */
 .photoset {
	overflow: hidden;
	width: 100%;
  max-width: 960px;
  @include medium {
    padding: 0 1rem;
  }
}
.photoset .photoset-row {
  display: block;
	overflow: hidden;
  width: 150%;
  margin: 0;
  margin-bottom: 1px;
  @include medium {
    margin-bottom: .5rem;
  }
  &:last-child { margin: 0; }
}

.photoset .photoset-row .photoset-item {
	display: block;
	float: left;
  margin: 1px;
  @include small {
	  margin: 0 .25rem;
  }
  &:first-child { margin-left: 0  !important}
  &:last-child  { margin-right: 0 !important }
}

.photoset figure {
	margin: 0;
	overflow: hidden;
	position: relative;
}
.photoset figcaption {
	background-color: rgba(255, 255, 255, .75);
	box-sizing: border-box;
  font-size: .75rem;
	padding: .5rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all .25s ease-in-out;
}
.photoset-item a {
  background-position: center center;
  background-size: cover;
  border: 0;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.photoset .photoset-item:hover a + figcaption {
	// -webkit-transform: translateY(0);
	// transform: translateY(0);
}
.photoset img {
	display: block;
  max-width: 100%;
	transition: all .25s ease-in;
}

// @media screen
// and (min-width: 480px)
// and (max-width: 768px) {
//   .photoset figcaption {
//     display: none;
//   }
// }
//
// @media screen
// and (max-width: 480px) {
//   .photoset .photoset-row {
//     width: 100%;
//   }
//   .photoset .photoset-item {
//     float: none;
//     margin: 0 0 .75em 0;
//   }
//   .photoset figcaption {
//     display: block;
//     -webkit-transform: none;
//     transform: none;
//     position: relative;
//   }
//   .photoset img {
//     max-width: 100%;
//   }
// }
