.photo {
  margin: 4rem auto;
  max-width: 960px;
  section {
    margin: 2rem auto;
    padding: 0 1rem;
    max-width: 600px;
    h1 {
      margin-bottom: .5rem;
      transition: all .25s ease-in;
    }
    p:last {
      margin-bottom: 0;
      transition: all .25s ease-in;
    }
    &.intro {
      @include small {
        text-align: center;
      }
    }
  }
  // img {
  //   width: 100%;
  //   max-width: 960px;
  //   // @include medium {
  //   //   padding: 0 1rem;
  //   // }
  // }
}
