.project {
  text-align: center;
  margin: 6rem auto;

  .info {
    margin: 0 auto;
    max-width: 600px;
  }

h2 {

    // font-weight: 400;
    font-size: 32px;
  }

h2,
  p {
    margin: 0.5rem 1rem;
  }


  p {
    line-height: 1.4;
    color: #777;
  }


  .date {
    margin-top: 0.5rem;
    font-size: 16px;
    color: #b7b7b7;
  }


  img {
    width: 100%;
    margin: 2rem auto;
  }

.slp {
    width: 90%;
    max-width: 960px;
  }

.swipe {
    width: 90%;
    max-width: 960px
  }

.lifebuoy {
    width: 90%;
    max-width: 256px;
  }

.ramo {
    width: 90%;
    max-width: 1000px;
  }

.ces {
  max-width: 960px;
}

  .bytes {
    margin: 2rem auto;
    max-width: 100%;
  }
}

.contextus {
  height: 650px;
  @include medium {
    height: 900px;
  }

@include large {
    height: 1300px;
  }
}

#cntx-canvas {
  height: 650px;
  @include medium {
    height: 900px;
  }

@include large {
    height: 1300px;
  }

position: relative;
  max-width: 1000px;
  margin: auto;
}




.phone1 {
  position: absolute;
  width: 220px;
  height: 650px;
  z-index: 100;
  left: 5%;
  background: url("/img/contextus_left.jpg") center 100px no-repeat;
  background-size: 50% 50%;
  @include image-2x("/img/contextus_left@2x.jpg", 50%, 50%);

  @include small {
    background-size: 66% 66%;
    @include image-2x("/img/contextus_left@2x.jpg", 66%, 66%);
    left: 12%;
  }

  @include medium {
    width: 250px;
    height: 740px;
    background-size: 75% 75%;
    background: url("/img/contextus_left.jpg") center 100px no-repeat;
    @include image-2x("/img/contextus_left@2x.jpg", 75%, 75%);
    left: 18%;
  }

  @include large {
    width: 298px;
    height: 1300px;
    left: 18%;
    background-size: 298px 882px;
      background: url("/img/contextus_left_large.jpg") center 100px no-repeat;
    @include image-2x("/img/contextus_left_large@2x.jpg", 298px, 882px);
  }
}


.phone2 {
  position: absolute;
  width: 220px;
  height: 650px;
  z-index: 100;
  right: 5%;
  background: url("/img/contextus_right.jpg") center 100px no-repeat;
  background-size: 50% 50%;
  @include image-2x("/img/contextus_right@2x.jpg", 50%, 50%);

  @include small {
    background-size: 66% 66%;
    @include image-2x("/img/contextus_right@2x.jpg", 66%, 66%);
    right: 12%;
  }


  @include medium {
    width: 250px;
    height: 740px;
    background-size: 75% 75%;
    background: url("/img/contextus_right.jpg") center 100px no-repeat;
    @include image-2x("/img/contextus_right@2x.jpg", 75%, 75%);
    right: 18%;
  }


  @include large {
    width: 298px;
    height: 1300px;
    right: 18%;
    background-size: 298px 882px;
    background: url("/img/contextus_right_large.jpg") center 100px no-repeat;
    @include image-2x("/img/contextus_right_large@2x.jpg", 298px, 882px);
  }
}

footer {
  text-align: center;
  font-size: 30px;
  .contact {
    margin: 4rem 0 2rem;
    color: #222;
  }
  .copyright,
  .copyright a {
    color: #b7b7b7;
    text-decoration: none;
    font-size: 14px;
  }
}


//
// .hand {
//     position: absolute;
//     width: 700px;
//     height: 700px;
//     z-index: 100;
//     left: -50%;
//     background: url('/img/mediabytes.png') center 50px no-repeat;
//     background-size: 50% 50%;
// }
