.snapcode {
  height: 70vh;
  width: 100%;
  // margin-top: -50px;
  display: flex;
  justify-content: center;
  &-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      height: 200px;
      width: 200px;
      margin: 0 auto;
    }
    p {
      margin: 2rem auto;
    }
  }
}
