blockquote,
.blockquote {
  @include reset-box;
  padding-left: 1rem;
  font-style: italic;
  border-left: 4px solid $bqBorderColor;
}

.blockquote--huge {
  border: 0;
  color: $bqTextColor;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0 auto;
  padding: 0;

  @include small {
    margin-left: -5%;
    width: 110%;
  }

  @include medium {
    margin-left: -15%;
    width: 130%;
  }

  p {
    color: $bqTextColor;
    font-size: 1.5rem;
    line-height: 1.4;
  }

  cite {
    display: block;
  }

}
