.photoset {
  margin: 0 auto;
  max-width: rem-calc(1000);
  transition: all .5s ease-out;
  width: 100%;

  figure {
    margin: 3px auto;

    img {
      width: 100%;

    }

    figcaption {
      display: none;
    }

    .lazy {
      opacity: 0;
      transition: opacity .3s ease-in;
    }
  }
}
