---
layout: default
title: Jared Palmer
---

<header class="container">
  <h1>Hi, I'm Jared.</h1>
  <p>I'm a freelance designer/dev living in the West Village and working out of Landmark Ventures in midtown Manhattan.</p>
  <p>Just before graduating from Cornell in 2013, I founded Skiptu, a lock screen publishing and advertising platform. Since then I've been heads down designing and developing apps and websites for myself and companies like Fox and Unilever.</p>
  <p>
    <a href="https://twitter.com/intent/follow?screen_name=jaredpalmer">@jaredpalmer</a>
  </p>
  <a href="mailto:jared@palmer.net">jared@palmer.net</a>
</header>
<section class="posts-list container">
  <h2>Posts</h2>
  {% for post in site.posts %}
    <article class="posts-list--item">
      <time class="posts-list--time meta">{{ post.date | date_to_string }}</time>
      <h3 class="posts-list--title"><a href="{{ post.url }}">{{ post.title }}</a>
      </h3>
    </article>
  {% endfor %}
</section>
<section class="posts-list container">
  <h2>Photos</h2>
  {% for photo in site.photos %}
  <article class="posts-list--item">
    <time class="posts-list--time meta">{{ photo.date }}</time>
    <h3 class="posts-list--title"><a href="{{ photo.url }}">{{ photo.title }}</a>
    </h3>
  </article>
  {% endfor %}
</section>
