<nav class="navbar">
      <div class="navbar-left">
        <a class="navbar-logo" href='/index.html'>Jared Palmer<br><span>Product Designer</span></a>
      </div>
        <!-- <a href="http://twitter.com/intent/follow?screen_name=jaredpalmer" class="navbar-twitter">@jaredpalmer</a> -->
      <ul class="navbar-right navbar-menu">
            <!-- <li class="navbar-item"><a href="/design.html" class="navbar-link">Designs</a></li> -->
            <!-- <li class="navbar-item"><a href="/photos.html" class="navbar-link">Photos</a></li> -->
      </ul>
</nav>
