<nav class="navbar">
  <div class="navbar-left"><a class="navbar-logo" href='/index.html'>Jared Palmer</a> <a href="http://twitter.com/intent/follow?screen_name=jaredpalmer" class="navbar-twitter">@jaredpalmer</a></div>
  <ul class="navbar-menu">
    <li class="navbar-item"><a href="/index.html" class="navbar-link">About</a></li>
    <li class="navbar-item"><a href="/posts.html" class="navbar-link">Posts</a></li>
    <li class="navbar-item"><a href="/photos.html" class="navbar-link">Photos</a></li>
  </ul>
</nav>
