<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/_bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
<!--<script src="/_bower_components/photoset-grid/jquery.photoset-grid.js"></script>

-->

<!-- <script src="/js/jquery-ui-1.8.2.custom.min.js"></script> -->
<!-- build:js({app,.tmp}) /js/script.js -->
<script src="/js/jquery.inview.js"></script>
<script src="/_bower_components/velocity/velocity.js"></script>
<script src="/_bower_components/velocity/velocity.ui.js"></script>
<script src="/_bower_components/photoswipe/dist/photoswipe.js"></script>
<script src="/_bower_components/photoswipe/dist/photoswipe-ui-default.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.1/picturefill.min.js" async></script>
