.content {
  margin: 0 auto;
  max-width: rem-calc(620);
  padding: 1rem;
}

.u-img-responsive {
  width: 100%;
}

.u-center-block {
  display: block;
  margin: 0 auto;
}

.post {
  img {
    margin: 1.3em auto;
    width: 100%;

    @include large {
      margin-left: -10%;
      width: 120%;
    }
  }
}

.photoset {
  margin: 2rem auto;
  transition: all .5s ease-out;
  visibility: hidden;

  @include medium {
    margin: 0 -10%;
    width: 120%;
  }

  @include large {
    margin: 0 -50%;
    width: 200%;
  }
}

.photos {
  font-size: 120%;
  font-weight: 300;
}
