.container {
  margin: 0 auto;
  max-width: rem-calc(620);
  padding: 0 1rem;
}

.container--big{
  max-width: rem-calc(700);
  margin: 0 auto;
  padding: 0 1rem;
}

.u-text-center {
  text-align: center;
}

.u-img-responsive {
  width: 100%;
}

.u-center-block {
  display: block;
  margin: 0 auto;
}

.post {
  img {
    margin: 1.3em auto;
    width: 100%;

    @include large {
      margin-left: -10%;
      width: 120%;
    }
  }
}

.photoset {
  margin: 0 auto;
  max-width: rem-calc(1000);
  transition: all .5s ease-out;
  width: 100%;

  figure {
    margin: 3px auto;

    img {
      width: 100%;

    }

    figcaption {
      display: none;
    }

    .lazy {
      opacity: 0;
      transition: opacity .3s ease-in;
    }
  }


}

.photos {
  font-weight: 300;
}

.photos-list {
  margin: 0 auto;
  max-width: rem-calc(1000);
  width: 100%;

  h1 {
    padding-left: 1rem;
  }

}

.photo-item {
  margin-top: 2rem;
  position: relative;
  line-height: 0;

  img {
    width: 100%;
  }
}

.photo-info {
  position: absolute;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.65)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  width: 100%;
  margin: 0;
  padding: 0;
}
.photo-content {
  width: 100%;
  max-width: 28em;
  color: #fff;
  padding-left: 1rem;

  h2 {
    color: #fff;
  }
}

.photo-info.animate {
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
