$sans: 'Helvetica Neue', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
$serif: 'Droid Serif', 'Georgia';
$fontDefault: $sans;
$fontHeadings: $sans;
$headingsWeight: 300;
$headingsColor: #000;
$fontBase: 110%;
$rem-base: 16px !default;

$colorGray--dark: #333;
$colorGray: #555;
$colorGray--light: #888;
$colorGray--lighter: #b7b7b7;
$colorGray--lightest: #eee;
$colorOffWhite: #f9f9f9;
$colorBlue: #28affa;


$bodyColor: #555;
$colorText: #555;
$linkColor: #5694f1;
$hrColor: $colorGray--lightest;

$small: rem-calc(600);
$medium: rem-calc(960);
$large: rem-calc(1100);
$graphite: #616d85;
$blue: #5694f1;
$green: #7ddc16;
$purple: #9178e2;
$cyan: #2dd7aa;


$bqBorderColor: $colorGray--light;
$bqTextColor: $colorGray--light;
