// Import Sassline base SCSS files in order so variables are read correctly.
@import 'base/reset';
@import 'base/variables';
@import 'base/typography';
@import 'base/mixins';
@import 'base/container';
@import 'modules/nav';
@import 'modules/cv';
@import 'modules/project';
@import 'modules/photo-list';
@import 'modules/photo';
@import 'modules/photoset';
@import 'modules/footer';
@import 'modules/snapcode';

// .photo-info {
//   opacity: 0;
//   background: 0;
//   transition: all .3s ease-in;
// }
.lazy {
  opacity: 0;
  transition: opacity .3s ease-in;

  // &-delay {
  //   transition: opacity .3s ease-in;
  //   transition-delay: .3s;
  // }
}
// a {
//   transition: color 0.1s ease-in;
// }
.social {
  padding: 0;
  margin: 0 auto;
  line-height: 1;
  text-align: center;

}
.social li{
  display: inline-block;
  margin:0 1rem 0 0;
  padding: 0;
  opacity: .20;
  transition: opacity .25s ease-out;
  line-height: 1;
  &:last-child{
    margin-right: 0;
    a {
      color: #000;

    }
  }
  &:hover {
    opacity: 1;
  }
}
