$sans: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, 'Lucida Grande', sans-serif;
$bodyFont: $sans;
$headingFont: $sans;
$headingWeight: 400;

$bodyLineHeight: 1.5;

//nav
$navLinkColor: #788D9E;
$navBGColor: #232C39;

$muted: #616367;

// $headingColour: #2E2E2E;
$leadColor: #111;
$headingColour: #222;
$bodyColour: #444;
$linkColour: #28AFFA;
$hoverColour: #000;
$captionColour: #b7b7b7;
$white: #fff;

// Background colours.
$backgroundColour: #fcfcfc;
$codeBackgroundColour: #f5f4f2;
